.about-us {
  min-height: 500px;
  padding: 150px 0;
  background-image: url(img/about-us/clouds.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.about-us__title {
  margin-bottom: 92px;
}

.about-us__items {
  display: flex;
  justify-content: center;
  max-width: 761px;
  margin: 0 auto;
}

.about-us__item {
  display: flex;
  flex-direction: column;

}

.about-us__item:not(:last-child) {
  margin-right: 67px;
}

.about-us__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 130px;
  left: 165px;
  width: 28px;
  height: 1px;
  background-color: #DAE4FE;
}

.about-us__icon {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}

.item-title {
  margin-bottom: 25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074F8;
}


.item-text {
  min-height: 100px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
}

.about-us-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 48px; */
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #ADB3CB;
}

.or::before{
  content: '';
  margin: 0 auto;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}

.or::after{
  content: '';
  margin: 0 auto;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}

.btn__read-more {
  font-family: 'Open Sans', sans-serif;
  color: #D43F3F;
  background: #FFD7D7;
}


@media screen and (max-width: 992px) {
  
  .about-us {
    padding: 50px 0;
    background: url(img/about-us/clouds.svg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .about-us__title {
  }

  .about-us__item {

  }
  
  /* .about-us__item:not(:last-child) {
    margin: 0;
  }
  
  .about-us__item:not(:last-child)::after {
    display: none;
  } */
  
  .about-us__icon {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  
  .item-title {
    margin-bottom: 25px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #4074F8;
  }
  
  
  .item-text {
    min-height: 100px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
  }
  
  .btn__read-more {
    font-family: 'Open Sans', sans-serif;
    color: #D43F3F;
    background: #FFD7D7;
  }
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 576px) {
  .about-us {
    padding: 20px 20px;
  }
  
  .about-us__title {
    margin-bottom: 20px;
  }


  .about-us__items {
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .about-us__item {
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
  
  }

  .about-us__item > img{
    align-self: center;
    margin: 0 22px 0 0;
  }
  
  .item-title {
    display: none;
  }
  
  .item-text {
    min-height: auto;
    align-self: baseline;
    text-align: left;
    font-size: 14px;
  }

  .about-us__item:not(:last-child) {
    margin-right: 0;
  }

}
@media screen and (max-width: 320px) {


 

}
