.get-started {
  padding: 92px 364px;
  color: #fff;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.get-started__sm-title {
  color: #fff;
  margin-bottom: 16px;
}

.get-started__large-title {
  margin-bottom: 28px;
  color: #FFFFFF;
}

.get-started__large-title span {
  font-weight: 500;
}

.get-started__text {
  margin: 0 auto;
  margin-bottom: 28px;
  max-width: 712px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  /* text-align: center; */
  letter-spacing: 0.03em;
}

.get-started___footer {
  display: flex;
  justify-content: center;
}

.pricing-btn {
  /* max-width: 132px; */
  color: #565F82;
  background-color: #fff;
}

.read__btn {
  border: 1px solid #C7D3FF;
  color: #C7D3FF;
  background-color: #565F82;
}

@media screen and (max-width: 992px) {
  .get-started {
    padding: 40px;
  }
 
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 576px) {
  .get-started___footer {
    flex-direction: column;
    gap: 10px;
  }
  .get-started___footer > * {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {

  .get-started___footer {
    flex-direction: column;
    align-items: center;
  }
  .get-started___footer :nth-child(n) {
    min-width: 80%;
  }
  .get-started___footer :nth-child(1) {
    margin-bottom: 10px;
  }
 
}
@media screen and (max-width: 320px) {

  .get-started {
    padding: 20px;
  }

}
