.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1206px;
  margin: 0 auto;
  padding: 27px 117px;
}

.header-logo {
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 9999px;
  background-color: var(--main-color);
  height: 30px;
  width: 30px;
}

.header-nav {
  flex: auto;
  padding-left: 50px;
}

.hamburger {
  display: none;
}

.nav-list {
  max-width: 427px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

.nav-item {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #5e81fe;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav-item {
  padding-right: 15px;
}

.nav-link {
  color: #697ca6;
}

.nav-link:hover {
  color: #5e81fe;
}

.header-icons {
  max-width: 162px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-left: auto;
}

.icon {
  flex-grow: 1;
}

.icon:hover {
  color: red;
}

.icon:not(:last-child) {
  margin-right: 15px;
}

.icon:last-child {
  margin-right: 50px;
}

.btn__get-started {
  background-color: #d2e1ff;
  color: #3a79ff;
}

@media screen and (max-width: 992px) {
  .header {
    max-width: 992px;
    padding: 16px 40px;
  }

  .header-logo {
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 9999px;
    height: 30px;
    width: 30px;
  }

  .header-nav {
    /* display: none; */
    flex: auto;
    padding-left: 30px;
  }

  .nav-list {
  }

  .nav-item {
  }

  .nav-item:not(:last-child) {
  }

  .nav-link {
  }

  .nav-link:hover {
  }

  .header-icons {
    /* display: none; */
  }

  .icon {
  }

  .icon:hover {
  }

  .icon:not(:last-child) {
  }

  .icon:last-child {
    margin-right: 30px;
  }

  .second-header {
  }

  .btn__get-started {
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }

  .hamburger {
    display: block;
  }

  .box-ordered :nth-child(1) {
    order: 2;
  }

  .box-ordered :nth-child(3) {
    order: 1;
  }

  .box-ordered :nth-child(4) {
  }

  .header-icons {
    display: none;
  }

  .nav-container {
    display: none;
  }

  .hamburger.is-active + .nav-container {
    display: block;
  }
  /* .hamburger.is-active + .nav-container .nav-overlay {
    opacity: .9;
    visibility: visible;
    height: 100%;
  } */

  .nav-overlay {
    position: fixed;
    width: 100%;
    /* top: 60px;*/
    background-color: rgba(128, 30, 30, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: -1;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }

  .nav-item {
    font-size: 24px;
    line-height: 36px;
  }

  .nav-item:not(:last-child) {
  }

  .nav-link {
  }

  .icon {
  }

  .icon:hover {
  }

  .icon:not(:last-child) {
  }

  .icon:last-child {
  }

  .second-header {
  }

  .btn__get-started {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .header {
    max-width: 576px;
    position: relative;
    padding: 16px 10px;
  }

  .header-logo {
  }

  .nav-item {

  }

  .nav-item:not(:last-child) {
  }

  .nav-link {
  }

  .nav-link:hover {
  }

  .header-icons {
    display: none;
  }

  .icon {
  }

  .icon:hover {
  }

  .icon:not(:last-child) {
  }

  .icon:last-child {
  }

  .second-header {
  }

  .btn__get-started {
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
  }

  .first-header {
  }

  .header-logo {
  }

  .header-nav {
  }

  .nav-list {
  }

  .nav-item {
  }

  .nav-item:not(:last-child) {
  }

  .nav-link {
  }

  .nav-link:hover {
  }

  .header-icons {
  }

  .icon {
  }

  .icon:hover {
  }

  .icon:not(:last-child) {
  }

  .icon:last-child {
  }

  .second-header {
  }

  .btn__get-started {
  }
}
