.our-product {
  background-color: #F5F8FF;
  padding: 50px 150px;
}

.our-product > .container {
  display: flex;
  justify-content: space-between;

}

.first-part {
  max-width: 420px;
  padding: 0 100px 0 0;
}

.our-product__sm-title {
  margin-bottom: 26px;
}

.section-title {
  margin-bottom: 26px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.section-title span {
  font-weight: 400;
}

.section-text {
  margin-bottom: 50px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.buttons {
  display: flex;
}

.btn-prime {
  color: #fff;
  background-color: #4C85FF;
}

.btn-secondary {
  color: #ADB4D2;
  background-color: none;
  border: 1px solid #ADB4D2;
  font-weight: 500;
}

.second-part {
  background:  center / contain no-repeat url("../img/our-product/desktop.png");
  width: 600px;
  /* height: 100%; */
  /* height: 600px; */
}


@media screen and (max-width: 992px) {
  .our-product {
    display: flex;
    background-color: #F5F8FF;
    padding: 40px 40px;
  }
  
  .first-part {
    max-width: 320px;
    padding-left: 0;
  }
  
  .our-product__sm-title {
    margin-bottom: 26px;
  }
  
  .section-title {
    margin-bottom: 26px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
  }
  
  .section-title span {
    font-weight: 400;
  }
  
  .section-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
  }
  
  .buttons {
    display: flex;
  }
  
  .btn-prime {
    color: #fff;
    background-color: #4C85FF;
  }
  
  .btn-secondary {
    color: #ADB4D2;
    background-color: none;
    border: 1px solid #ADB4D2;
    font-weight: 500;
  }
  
  .second-part {
    max-width: 300px;
    background:  center / contain no-repeat url("../img/our-product/mobile.png");
  }
  
  .our-product-img {
    /* position: absolute; */
  }
  
 
}
@media screen and (max-width: 768px) {
  .our-product {
    flex-wrap: wrap;
  }
 
}
@media screen and (max-width: 576px) {
 
}
@media screen and (max-width: 320px) {
 
}
