.our-product {
  max-height: 776px;
  background-color: #F5F8FF;
  padding: 170px 0;

}

.our-product > .container {
  display: flex;
  /* justify-content: space-between; */

}

.first-part {
  max-width: 413px;
  margin-right: 55px;
}

.our-product__sm-title {
  margin-bottom: 26px;
}

.section-title {
  margin-bottom: 26px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.section-title span {
  font-weight: 400;
}

.section-text {
  margin-bottom: 50px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.buttons {
  display: flex;
}

.btn-prime {
  color: #fff;
  background-color: #4C85FF;
}

.btn-secondary {
  color: #ADB4D2;
  background-color: none;
  border: 1px solid #ADB4D2;
  font-weight: 500;
}

.second-part {
  box-sizing: border-box;
  max-height: 436px;
  display: flex;
  align-items: center;
}


@media screen and (max-width: 992px) {
  .our-product {
    display: flex;
    background-color: #F5F8FF;
    padding: 40px 40px;
  }
  
  .first-part {
    padding-left: 0;
  }
  
  .our-product__sm-title {
    margin-bottom: 26px;
  }
  
  .section-title {
    margin-bottom: 26px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
  }
  
  .section-title span {
    font-weight: 400;
  }
  
  .section-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
  }
  
  .buttons {
    display: flex;
  }
  
  .btn-prime {
    color: #fff;
    background-color: #4C85FF;
  }
  
  .btn-secondary {
    color: #ADB4D2;
    background-color: none;
    border: 1px solid #ADB4D2;
    font-weight: 500;
  }
  
  .our-product-img {
    /* position: absolute; */
  }
  
 
}
@media screen and (max-width: 768px) {
  .our-product {
    flex-wrap: wrap;
  }
  
  .first-part {
    margin-right: 20px;
    max-width: 320px;
  }
}
@media screen and (max-width: 576px) {

  .first-part {
    margin-right: 20px;
    max-width: 60%;
  }
 
  .section-title {
    font-size: 30px;
    line-height: 30px;
  }



}
@media screen and (max-width: 320px) {

  .first-part {
    max-width: 100%;
  }

  .second-part {
    display: none;
  }
 
}
