.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 118px 0;
}

.sign-up__first {
  max-width: 330px;
  margin-right: 80px;
}

.sign-up__title {
  margin-bottom: 18px;
}

.sign-up__text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.sign-up__second {
  width: 50px;
  display: flex;
}

.input-email {
  max-width: 280px;
  margin-right: 14px;
  padding: 21px 23px;
  border: none;
  outline-color: #8D96BD;
  border-radius: 5px;
  background: #EFEFF7;
}

.send-email {
  max-width: 184px;
  max-height: 60px;
  font-size: 13px;
  line-height: 16px;
  padding: 21px 23px;
  border-radius: 5px;
  color: #fff;
  background-color: #4D6CE1;
}


@media screen and (max-width: 992px) {
  
  .sign-up__first {
    max-width: 300px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .sign-up {
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
    padding: 40px;
  }

  .sign-up__first, .sign-up__second {
    justify-content: start;
    width: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  
@media screen and (max-width: 576px) {
  
 
}
@media screen and (max-width: 320px) {

 
}
