.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 40px 100px 40px;
  text-align: left;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.testimonials__first-part {
  /* margin-left: auto; */
  max-width: 330px;
  margin-right: 130px;
}

.testimonials__sm-title {
  margin-bottom: 32px;

}

.testimonials__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.testimonials__text {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #A4ABC8;
}

.testimonials__second-part {
  max-width: 430px;
}

.testimonials__slider-text {
  box-shadow: 12px 12px 11px 11px rgba(131, 131, 173, 0.1);
  font-size: 14px;
  line-height: 23px;
  max-width: 430px;
  padding: 40px 70px 51px;
  background-color: #fff;
}


@media screen and (max-width: 992px) {
  
  .testimonials {
    display: flex;
    padding: 40px 40px;
    text-align: left;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  }

  .testimonials__first-part {
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {

  .testimonials__first-part {
    min-width: 260px;
  }

  .testimonials__sm-title {
    margin: 20px 0 20px 0;
  }

  .testimonials__title {
    margin: 20px 0 20px 0;
    font-size: 30px;
    line-height: 32px;
    text-align: left;
  }

  .testimonials__slider-text {
    max-width: 330px;
    padding: 20px 30px 30px;
  }
 
}
@media screen and (max-width: 576px) {
  .testimonials {
    flex-direction: column;
    padding: 40px;
  }

  .testimonials__first-part {
    margin: 0;
    max-width: none;
  }

  .testimonials__second-part {
    max-width: none;
  }

  .testimonials__sm-title {
    margin: 10px 0 10px 0;
  }

  .testimonials__title {
    margin: 10px 0 10px 0;
    font-size: 30px;
    line-height: 32px;
  }
  .testimonials__slider-text {
    padding: 20px 30px;
    max-width: none;
  }
 
}
@media screen and (max-width: 320px) {
  .testimonials {
    padding: 20px;
  }
 
}
