* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  border: none;
  background: none;  
}

img{
  /* width: 100%;
  height: auto; */
}

/* main style */
.title {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #3D4F9F;
}

.big-title {

  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.sm-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}


.btn {
  min-width: 110px;
  padding: 13px 15px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}


/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  padding: 27px 117px;
}

.first-header {
  display: flex;
  align-items: center;
  
}

.header-logo {
  margin-right: 70px;
  border-radius: 9999px;
  background-color: #6188FF;
  height: 30px;
  width: 30px;

}


.nav-list {
  display: flex;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  
  color: #5E81FE;
  
  text-shadow: 0px 0px 5px #E6E6E6;;
}

.nav-item:not(:last-child) {
  margin-right: 42px;
}

.nav-link {
  color: #697CA6;
}
.nav-link:hover {
  color: #5E81FE;
}


.header-icons {
  display: flex;
}

.icon:hover {
  color: red;
}

.icon:not(:last-child) {
  margin-right: 35px;
}



.icon:last-child {
  margin-right: 44px;

}

.second-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn__get-started {
background-color: #D2E1FF;
color: #3A79FF;
}


/****************** PROMO ******************/
.promo {
  box-sizing: border-box;
  min-height: 570px;
  height: 100%;
  margin-bottom: 50px;
  text-align: center;
  padding: 90px 50px;
  background-color: #D8E0F7;
  background-image: url(img/svg/promo/chart.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: #3D4F9F;
}


.promo-title {
  margin-bottom: 28px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  font-weight: 300;
}

.promo-title span {
  font-weight: 500;
  /* color: #3D4F9F; */

}

.promo-text {
  max-width: 500px;
  display: block;
  margin: 0 auto 20px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.promo-btn {
  margin-bottom: 220px;
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 9999px;
  position: relative;
  background-color: #fff;
}
.promo-btn::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 14px solid #5E81FF;
  border-bottom: 7px solid transparent;
  border-radius: 2px;
  /* background-color: red; */
  /* border-radius: 9999px; */
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.brands {

  padding: 60px 0;
}

.brands-list {
  display: flex;
  justify-content: center;
}

.brands-item:not(:last-child) {
  margin-right: 75px;
}

.brands-item img:hover {
  background-color: red;
  fill: rebeccapurple;
}


/* OUR PRODUCT */

.our-product {
  display: flex;
  background-color: #F5F8FF;
  padding: 170px 50px;
}
.first-part {
  max-width: 420px;
  padding-left: 270px;
}

section .sm-title {
  margin-bottom: 26px;
}

.section-title {
  margin-bottom: 26px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.section-title span {
  font-weight: 400;
}

.section-text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

.buttons {
  display: flex;
}

.btn-prime {
  color: #fff;
  background-color: #4C85FF;
}
.btn-secondary {
  color: #ADB4D2;
  background-color: none;
  border: 1px solid #ADB4D2;
  font-weight: 500;
}

.second-part {
  max-width: 600px;
  position: relative;
}

.our-product-img {
  position: absolute;
}
.our-product-img1 {
  z-index: 2;
  /* left:-147px; */
}
.our-product-img2 {
  z-index: 2;
  top: 50px;
  left: -70px;
}
.our-product-img3 {
  z-index: 1;
}

/******************* ABOUT US *******************/

.about-us {
  min-height: 500px;
  padding: 150px 0;
  background: url(img/svg/about-us/clouds.svg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}


.about-us__title {
  margin-bottom: 92px;
}

.about-us__items {
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}

.about-us__item {
  position: relative;
  max-width: 140px;
  max-height: 254px;
  width: 100%;
  height: 100%;
}

.about-us__item:not(:last-child) {
  margin-right: 67px;
}

.about-us__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 130px;
  left: 165px;
  width: 28px;
  height: 1px;
  background-color: #DAE4FE;
}

.about-us__icon {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 33px;
}


.item-title {
  margin-bottom: 25px;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074F8;
}


.item-text {
  min-height: 100px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
}


.about-us-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  position: relative;
  padding: 0 48px;
  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #ADB3CB;
}

.or::before{
  content: '';
  position: absolute;
  top: 10px;
  left: 20px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}

.or::after{
  content: '';
  position: absolute;
  top: 10px;
  right: 20px;
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
}

.btn__read-more {
  font-family: 'Open Sans', sans-serif;
  color: #D43F3F;
  background: #FFD7D7;
}


/* EFFICIENCY */
.efficiency {
  display: flex;
  letter-spacing: 0.03em;

}

.percent-wrapper {
  display: flex;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  width: 50%;
  padding: 66px 90px 66px 90px;
}

.percent {
  max-width: 260px;
  margin-left: auto;
  color: #fff;
  text-align: right;
}

.percent-value, .count-value {
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 45px;
  
}

.percent-info, .count-info {
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.count-wrapper {
  width: 50%;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  padding: 66px 90px 66px 90px;
}

.count {
  max-width: 260px;
  margin-right: auto;
  color: #5E80FF;
}

.efficiency img {
  margin-bottom: 24px;
}

/************* OUR-RESOURCES **************/

.our-resources {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 220px 0;
  text-align: center;
  background-color: #F5F8FF;
}

.our-resources .title {
  margin-bottom: 92px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 64px 36px;
  background-color: #fff;
  text-align: left;
}

.slider__left {
  margin-right: 67px;
}
.slider__right {
  max-width: 408px;
}

.slider__title {
  margin-bottom: 32px;
}
.slider__text {
  margin-bottom: 36px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  
}

.btn__read-now {
  margin-right: 8px;
  padding: 13px 25px;
  color: #3A79FF;
  background-color: #D2E1FF;
}

.btn__add {
  padding: 13px 25px;
  color: #A6B6DA;
}



/******************* TESTIMONIALS ********************/

.testimonials {
  display: flex;
  padding: 100px 0 100px 276px;
  text-align: left;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

.testimoinals__first-part {
  max-width: 340px;
  margin-right: 130px;
}

.testimonials__sm-title {
  margin-bottom: 32px;

}

.testimonials__title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}



.testimonials__slider-text {
  max-width: 430px;
  padding: 40px 70px;
  background-color: #fff;
}
